.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 200px;
    column-gap: 20px;
    row-gap: 20px;

}
.container1,
.container3,
.container5,
.container7 {
    background-color: lightpink;
}
.container2,
.container4,
.container6,
.container8 {
    background-color: lightblue;
}