* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  background-color: rgb(33, 37, 41);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.textlogo {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  padding-left: 50px;
  letter-spacing: 5px;
}

.nav-ul{
  list-style: none;
  display: flex;
  gap: 50px;
  padding-right: 50px;
}

.nav-ul a{
  text-decoration: none;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#Home{
  background-image: url(2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.info{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pic{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  gap: 50px;
}
.containerpic img{
  width: 700px;
  border-radius: 30px;
}
.description{
  width: 700px;
  font-size: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  background-color: lightpink;
  padding: 20px;
  border-radius: 20px;
}

.container{
  background-color: lightsalmon;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: 20px;
  gap: 20px;

  scrollbar-width: none;
  
  scroll-snap-type: x mandatory; 
  -webkit-overflow-scrolling: touch;
}
.container > div{
  flex: 0 0 200px;               
  height: 200px;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 20px;
  gap: 20px;


  scroll-snap-align: start;

  transition: 0.5s;
}
.container > div:hover {
  transition: 1s;
  flex: 0 0 400px; /* Widens to 350px on hover */
  background-color: #e0e0e0; 
  flex-grow: 2;
}
.container img{
  width: 150px;
  border-radius: 10px;
}

.linwel, .tim, .marc, .chin, .genel, .shane, .jastine, .kate, .alyssa, .kurt{
    display: none;
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
}


.Plinwel, .Ptim, .Pmarc, .Pchin, .Pgenel, .Pshane, .Pjastine, .Pkate, .Palyssa, .Pkurt{
  cursor: pointer;
}