.uno {
    display: inline-block;
    margin-right: 20px;
}
.dos {
    display: inline-block;
    margin-right: 20px;
}
.tres {
    display: inline-block;
    margin-right: 20px;
}
.four,
.five,
.six {
    object-fit: contain;
    width: 320px;
    display: block;
}
.apat,
.lima,
.anim {
    width: 35px;
    border-radius: 20px;
}
.p1,
.p11 {
    width: 270px;
    font-family: Arial;
    font-weight: 550;
    display: inline-block;
    margin-bottom: 0px;
}
.p111 {
    width: 270px;
    font-family: Arial;
    font-weight: 550;
    display: inline-block;
    margin-bottom: 0px;
}
.p2,
.p22,
.p222 {
    font-size: 13px;
    font-family: Roboto, arial;
    color: rgb(69, 69, 69);
    padding-left: 40px;
}
.p3,
.p33,
.p333 {
    font-size: 13px;
    font-family: Roboto, arial;
    color: rgb(69, 69, 69);
    padding-left: 40px;
}